.title {
    color: rgb(255, 255, 255);
    font-style: italic;
    background-color: rgb(30, 207, 7);
}

.subtitles {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.items {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
}

.seleccion {
    display: inline-block;
}

.details {
    background-color: rgba(171, 252, 164, 0.966);
}

.ul_categorias{
    background-color: rgba(171, 252, 164, 0.966);
}